:root {
--color:white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cardo", serif;
    color: var(--color);
}

input, button, label, textarea, select, a {
    font-family: "cardo", serif;
    font-weight: 700;
}

.description-hook {
    font-size: 1.4rem;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 5%;
}

.header-hook {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1%;
}
input {
    color: #2B2A28;
    width: 85%;
    height: auto;
}
.input input {
    padding: 0.3rem;
    border: 2.5px solid #555;
    border-radius: 4px;
}

.input input:valid {
    border-color:#0b2fff
}

.input input:invalid:not(:focus):not(:placeholder-shown) {
    border-color: red;
}

.input input:invalid:not(:focus):not(:placeholder-shown) + .error-message {
    display: block;
}

.input .error-message {
    color: #d32f2f;
    font-size: 12px;
    margin-top: 3px;
    display: none;
}


.container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.form-title {
    grid-column: 1 / -1;
    font-size: 1.2rem;
    font-weight: 700;
}

.form {
    width: 100%;
}

.form-container {
    background-color: #221F1A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    display: block;
}

label {
    display: block;
    font-size: 0.8rem;
}

h1 {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.logo-image {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
    width: auto;
    height: 40px;
    display: block;
}

.left {
    height: auto;
    width: 45vw;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.right {
    padding: 15px;
    background-color: #2B2A28;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 55vw;
    flex-grow: 1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;

}

a {
    text-decoration: none;
    color: #705035;
}

a:hover {
    color: #be8759;
}

.banner {
    background-color: rgba(34, 31, 26, 0.55);
    display: flex;
    position: absolute;
    left: 0;
    top: 15vh;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner > .logo-header {
    margin-right: 3vw;
}

@media (min-width: 769px) {
    .container {
        max-height: 100vh;
        overflow: hidden;
    }
    
    .right {
        overflow-y: auto;
    }
    
    .left {
        height: 100%;
    }
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .left {
        width:100vw;
        height: 40vh;
        min-height: 200px;
    }

    .right {
        width:100vw;
        height: auto;
        min-height: 60vh;
    }

    .banner {
        top:10vh;
    }

}